---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sher 游부</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      html,
      body {
        height: 100%;
        font-family: "Comic Sans MS", "Comic Sans", monospace;
        background: black;
      }

      canvas {
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 10;
      }

      footer {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: white;
        z-index: 999;
      }

      #hint {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        pointer-events: none;
      }

      footer a {
        color: white;
      }
    </style>
  </head>
  <body>
    <div id="hint">
      <h1>Click to Be a Sher 游부</h1>
    </div>

    <canvas></canvas>

    <footer>
      Made with 游부 <a href="https://astro.build">Astro</a> and <a
        href="https://howlerjs.com">Howler.js</a
      > by <a href="https://twitter.com/itsKanishkP">Kanishk Pachauri</a> - Source on <a
        href="https://github.com/Mr-Sunglasses/sher">GitHub</a
      >

      <br />

      Follow Sher Bhai 游부 on <a
        href="https://www.instagram.com/sherbairagi1234/">Instagram</a
      >
    </footer>
  </body>
</html>

<script>
  import { Howl, Howler } from "howler";

  var sound = new Howl({
    src: ["/sher.mp3"],
    html5: true,
  });

  const canvas = document.querySelector("canvas")!;
  const ctx = canvas.getContext("2d")!;
  const img = new Image();
  img.src = "/sher.png";
  const imageWidth = 519 / 2;
  const imageHeight = 412 / 2;

  const resize = () => {
    ctx.clearRect(0, 0, canvas.width, canvas.height);

    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
  };

  window.addEventListener("resize", resize);
  resize();

  img.onload = () => {
    canvas.onclick = (event) => {
      const x = event.offsetX;
      const y = event.offsetY;

      // random rotation
      const angleInRadians = Math.random() * Math.PI * 2;

      ctx.translate(x, y);
      ctx.rotate(angleInRadians);

      ctx.drawImage(
        img,
        -imageWidth / 2,
        -imageHeight / 2,
        imageWidth,
        imageHeight
      );
      ctx.rotate(-angleInRadians);
      ctx.translate(-x, -y);

      sound.play();
    };
  };
</script>
